@font-face {
  font-family: "Rockwell";
  src: local("Rockwell"), url("./assets/fonts/Rockwell.ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntiqueStories";
  src: local("ANTIQUESTORIES"), url("./assets/fonts/ANTIQUESTORIES.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Rockwell", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
